/* Barra de navegacion */
.navbar {
  padding: 2rem;
  background-image: url('Imagenes/header.jpg');
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}
/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-primarymb-4 {
  color: rgb(252, 255, 60);
}

h1 {
  font-size: 2.5rem;
  font-family:'Playfair Display';
}

.seccion-oscura {
  height: 150px;
  color: rgb(170, 221, 174);
  background-color: hsl(0, 0%, 95%);
  background-image: url('imagenes/flores.png')
}

.seccion-clara {
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
}

.seccion-titulo {
  font-size: 2.5rem;
  padding: 15px 0;
  font-family:'Playfair Display';
  text-align: left;
  color: #0b3b2570;
}

.seccion-descripcion {
  font-size: 1.3rem;
  color: #3aa83a;
  font-family:'Playfair Display';
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  background-color:#96e073;
  color:#295028;
  border-color: #c8facf;
}
.btn-info:hover {
  background-color: #c5f0ba;
  border-color: #44af44;
}

.texto-negro {
  color: rgb(5, 5, 5);
}

.texto-blanco {
  color: white (109, 28, 28);
}


/* Testimonios */

.testimonios {
padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
max-width: 800px;
}

.carousel-item {
height: 500px;
padding-bottom: 50px;
}

.carousel-item .container {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #27812d;
}

.carousel-item .container1 { 
width: 1000px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url('Imagenes/angela.jpg');
}
.testimonio-texto .link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.carousel-item .container2 {
width: 1000px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url('Imagenes/alejandra.jpg');
}

.carousel-item .container3 {
width: 1000px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url('Imagenes/Tundras.jpg');
}

.testimonio-imagen {
height: 150px;
width: 150px;
margin: 10px 10px 20px 10px;
}

.testimonio-texto {
max-width: 70%;
font-size: 40px;
text-align: center;
  font-family:'Playfair Display';
color: white;
}

.testimonio-texto2{
max-width: 70%;
font-size: 40px;
text-align: center;
font-family:'Playfair Display';
color: white;
}
.testimonio-info {
font-weight: bold;
text-align: center;
color: #daff93;
}

.testimonio-info p {
margin-bottom: 0;
}

.testimonio-footer .cliente {
font-size: 1.2rem;
}

.testimonio-info .cargo {
font-size: 0.9rem;
color: #656060;
}

/*about*/
.about-me {
padding: 15px;
background-color: #a7ce97;
}

.me{
  text-align: center;
}

.about-me .foto-me {
  width: 900px;
  height: 500px;
  display: block;
  margin: auto;
}

.container .texto {
  color:rgb(36, 70, 50);
  font-family: 'Playfair Display';
  font-size: 20px;
  text-align: justify;
}

/*about*/
.creadora {
  padding: 15px;
  background-color: whitesmoke;
  }
  
  .yo{
    text-align: center;
  }
  
  .creadora .foto-yo {
    width: 900px;
    height: 500px;
    display: block;
    margin: auto;
  }
  
  .container .texto {
    color:rgb(74, 114, 91);
    font-family: 'Playfair Display';
    font-size: 20px;
    text-align: justify;
  }

/*ARCHIVO*/ 

.proyectos-recientes {
  padding: 40px;
  background-color: #a7ce97;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  color: #6fbb76;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  align-self: center;
}
.overlay .url{
  color:rgb(48, 59, 43);
  font-size: 23px;
  font-family:'Playfair Display';
  text-decoration: none;

}
.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: rgb(108, 165, 61);
  font-size: 60px;
  margin: 10px;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
  padding-top: 50px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color:#b9ddb6; 
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: rgb(77, 160, 91);
  font-size: 1.4rem;
  font-family:'Playfair Display';
}

.contacto button {
  color: #2f442d;
  font-weight: bold;
  background-color: rgb(149, 184, 141);
  border: 2px solid #4dbd5c;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 250px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid rgb(76, 175, 19);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: rgb(53, 90, 55);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: hsl(152, 89%, 33%);
  border: 2px solid #295028;
}
.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #242e27;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}